*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary: rgb(175, 45, 210);
  --secondary: rgb(61, 155, 35);
  --secondary-bright: rgb(80, 210, 45);
  --off-white: #f8f8f8;
  --dark-grey: rgba(0, 0, 0, 0.8);
}
body {
  background: var(--off-white);
}

/* Header starts here */
header {
  width: 100%;
  background: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 0 20px -10px var(--dark-grey);
}

#name {
  color: var(--off-white);
  font-size: 2.1rem;
}

.btn {
  text-decoration: none;
  background: var(--secondary);
  padding: 0.5em 1em;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 0.2em;
  color: var(--off-white);
  border: 1px solid var(--off-white);
  text-shadow: 0 0 4px var(--dark-grey);
}

.btn:hover {
  background: var(--off-white);
  color: var(--secondary);
  border-color: var(--dark-grey);
  text-shadow: 0 0 4px #eee;
}

.btn:active {
  box-shadow: inset 0 0 15px -5px var(--dark-grey);
}

/* Body starts here */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.login {
  padding: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 5px 20px -10px var(--dark-grey);
}

.login-header {
  color: var(--primary);
  text-decoration: underline;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.login-btn {
  border: 2px solid var(--secondary);
  color: var(--secondary);
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-weight: 600;
  font-size: 1.2rem;
  background: var(--off-white);
  box-shadow: 0 0 15px -10px var(--dark-grey);
}

.login-btn:active {
  box-shadow: inset 0 0 15px -5px var(--dark-grey);
}
/* Forms start here */
#root {
  padding: 1em 2em;
}

.url-form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  max-width: max-content;
  gap: 1em;
}
.url-form input {
  font-size: 1.2rem;
}

.url-form button {
  background: var(--off-white);
  border-color: var(--secondary);
  color: var(--secondary);
  box-shadow: none;
  border-style: solid;
  font-weight: bold;
}
.url-form button:hover {
  background: var(--secondary);
  color: var(--off-white);
}
.url-form button:active {
  box-shadow: inset 0 0 5px -2px var(--dark-grey);
  background: var(--off-white);
  color: var(--secondary);
}

/* Url-stats start here */

#user-urls {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.container-heading {
  display: flex;
  max-width: max-content;
  gap: 1.5em;
  background: var(--off-white);
  border-bottom: 1px solid var(--primary);
  box-shadow: 0 5px 10px -10px var(--dark-grey);
}
.user-urls-heading {
  font-size: 1.6rem;
  color: var(--dark-grey);
}

.refr-btn {
  height: 1.8rem;
  width: 1.8rem;
  color: var(--off-white);
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 2px var(--dark-grey);
  font-size: 1.2rem;
  line-height: 1;
  border-radius: 0.8rem;
  cursor: pointer;
  box-shadow: inset 0 0 8px -3px var(--off-white);
}
.refr-btn:active {
  box-shadow: inset 0 0 3px var(--dark-grey);
}

.card-heading {
  background: var(--secondary);
  border: 1px solid var(--secondary);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  overflow: scroll;
}
.card-heading::-webkit-scrollbar {
  display: none;
}

.url-list-container h3 {
  font-style: italic;
  padding: 1em 2em 0.2em 2em;
  color: var(--off-white);
}

.url-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  padding-top: 1em;
}

@media screen and (max-width: 700px) {
  .url-list-container {
    justify-content: center;
  }
}

.card {
  background: var(--off-white);
  box-shadow: 0 0 20px -10px var(--dark-grey);
  max-width: max-content;
  border-radius: 1em;
  overflow: scroll;
}
.card::-webkit-scrollbar {
  display: none;
}
.url-list {
  margin: 1em 1em;
  list-style: none;
  padding: 0 0.5em;
}
.url-list > li {
  margin-top: 0.5em;
  color: var(--dark-grey);
}
.url-list > li::before {
  content: "\2022";
  color: var(--secondary);
  display: inline-block;
  margin-right: 0.5em;
}

.url-list > li > a {
  text-decoration: none;
  position: relative;
}
.url-list > li > a:hover {
  color: var(--primary);
}
a[target="_blank"]::after {
  content: "\2750";
  right: -15px;
  text-decoration: none;
  bottom: 2px;
  position: absolute;
}
/* Footer starts here */
